Source: ros-foxy-turtlebot3-manipulation-description
Section: misc
Priority: optional
Maintainer: Will Son <willson@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-foxy-ament-cmake, ros-foxy-ros-workspace
Homepage: https://emanual.robotis.com/docs/en/platform/turtlebot3/manipulation/
Standards-Version: 3.9.2

Package: ros-foxy-turtlebot3-manipulation-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-foxy-joint-state-publisher, ros-foxy-joint-state-publisher-gui, ros-foxy-robot-state-publisher, ros-foxy-rviz2, ros-foxy-ros-workspace
Description: ROS2 package for turtlebot3_manipulation_description
